<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Orcçamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let orcamento of orcamentos; let i = index"></ion-item>
  <ion-label>
    <p>{{ orcamento.valorDiaria }}</p>
    <p>{{ orcamento.quantidadeDias }}</p>
    <p *ngIf="orcamento.dataOrcamento != null">{{ orcamento.dataOrcamento }}</p>
    <ion-button color="danger" (click)="excluirOrcamento({{i}})">Excluir orçamento</ion-button>
  </ion-label>
</ion-content>
